{
  "$schema": "https://ui.shadcn.com/schema.json",
  "style": "default",
  "rsc": {{.RSC}},
  "tsx": true,
  "tailwind": {
    "css": "{{.CSSPath}}",
    "baseColor": "slate",
    "cssVariables": true
  },
  "aliases": {
    "components": "@/components",
    "utils": "@/lib/utils"
  }
}
